{% extends "base.html" %}

{% block content %}

  <h3>Driver map</h3>
  <a href="{% url 'driver_map' %}">Driver map</a>

  <h3>Timelines</h3>
<table class="timeline-table">
  {% for driver_id, timestamp, status in drivers %}
    <tr>
      <td><a href="{% url 'driver_timeline' driver_id=driver_id %}">{{ driver_id }}</a></td>
      <td>{{ status }}</td>
      <td>{{ timestamp }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
