{% extends "base.html" %}

{% block title %}Driver Map{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="http://openlayers.org/en/v3.3.0/css/ol.css" type="text/css">
<link rel="stylesheet" href="/static/css/timeline.css" type="text/css">
<style>
 #driver-map {
   height: 600px;
   width: 800px
 }
</style>
{% endblock %}

{% block extrajs %}
  <script src="http://openlayers.org/en/v3.3.0/build/ol.js" type="text/javascript"></script>
  <script>
   var DIRECTIONS_API_URL = "{% url 'api_driver_directions' %}";
   </script>
  <script src="/static/js/map.js"></script>
{% endblock %}

{% block content %}
  <a href="{% url 'poll_index' %}">Back to index</a>

  <div id="driver-map"></div>

  <table>
    <tr>
      <td class="st-available">Available</td>
      <td class="st-dispatched">Dispatched</td>
      <td class="st-accepted">Accepted</td>
      <td class="st-rejected">Rejected</td>
      <td class="st-arrived">Arrived</td>
      <td class="st-driving">Driving</td>
      <td class="st-unavailable">Unavailable</td>
    </tr>
  </table>


{% endblock %}
