{% extends "base.html" %}

{% block title %}Driver Timeline{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/vis/3.11.0/vis.min.css" />
<link rel="stylesheet" href="/static/css/timeline.css" />
{% endblock %}

{% block extrajs %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/vis/3.11.0/vis.min.js"></script>
  <script>
   var TIMELINE_API_URL = "{% url 'api_driver_status' driver_id=driver_id %}";
   </script>
  <script src="/static/js/timeline.js"></script>
{% endblock %}

{% block content %}
  <a href="{% url 'poll_index' %}">Back to index</a>

  <h3>Driver: {{ driver_id }}</h3>
  <div id="timeline-container"></div>

  <table>
    <tr>
      <td class="st-available">Available</td>
      <td class="st-dispatched">Dispatched</td>
      <td class="st-accepted">Accepted</td>
      <td class="st-rejected">Rejected</td>
      <td class="st-arrived">Arrived</td>
      <td class="st-driving">Driving</td>
      <td class="st-unavailable">Unavailable</td>
    </tr>
  </table>

{% endblock %}
