
.vis.timeline .item.range {
    border-radius: 0;
}

.vis.timeline .item{
    border: none;
    border-width: 0;
}

.vis.timeline .item.st-available, .st-available {
    background-color: #FF99FF;
}

.vis.timeline .item.st-dispatched, .st-dispatched {
    background-color: #E0FFFF;
}

.vis.timeline .item.st-accepted, .st-accepted {
    background-color: #99FF99;
}

.vis.timeline .item.st-rejected, .st-rejected {
    background-color: #FF4D4D;
}


.vis.timeline .item.st-arrived, .st-arrived {
    background-color: #FFFF00;
}

.vis.timeline .item.st-driving, .st-driving {
    background-color: #FF944D;
}

.vis.timeline .item.st-unavailable, .st-unavailable {
    background-color: #B8B8B8;
}
