<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Leto Test{% endblock %}</title>

  <link rel="stylesheet" href="/static/css/leto.css" />
  {% block extracss %}
  {% endblock %}
</head>
    <body>
      {% block content %}
      {% endblock %}

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      {% block extrajs %}
      {% endblock %}
    </body>
</html>

